<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <style>
        .transparent-navbar {
            background-color: transparent !important;
            border: none;
        }

        .transparent-navbar .navbar-brand,
        .transparent-navbar .navbar-nav .nav-link {
            color: #fff;
        }

        .transparent-navbar .navbar-brand:hover,
        .transparent-navbar .navbar-nav .nav-link:hover {
            color: #fff;
        }

        .footer {
            background-color: #161616;
            color: #fff;
            padding: 20px 0;
            width: 100%;
            height: 60px; /* Adjust the height as needed */
        }

        .footer-icons {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .footer-icons a {
            color: #fff;
            margin: 0 10px;
            font-size: 20px;
        }

        .hero-table-card,
        .squad-table-card {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .add-button-container {
            text-align: center;
            position: sticky;
            bottom: 20px;
            z-index: 1;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
    <title>Hero Squad App</title>
</head>
<body class="scheme-1">
<nav class="navbar navbar-expand-lg transparent-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            &copy; Deedee
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="main-heading-card">
        <h1 class="main-heading">Welcome to Hero Squad App!</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="hero-table-card">
                <h2 class="section-heading">Heroes</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Power</th>
                        <th>Weakness</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each heroes}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{age}}</td>
                            <td>{{power}}</td>
                            <td>{{weakness}}</td>
                            <td>
                                <form action="/heroes/delete/{{this.id}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                            <td> <!-- Added 'Edit' button -->
                                <a href="/heroes/edit/{{this.id}}" class="btn btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="squad-table-card">
                <h2 class="section-heading">Squads</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cause</th>
                        <th>Assign Hero</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each squads}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{cause}}</td>
                            <td>
                                <form id="assign-hero-form-{{id}}" action="/squads/{{id}}/heroes/{{id}}/assign" method="POST">
                                    <div style="display: inline-block;">
                                        <label>
                                            <select name="selectedHeroId" class="hero-select" style="padding-left: 40px; padding-right: 40px; width: 150px; max-height: 200px; overflow-y: auto;">
                                                {{#each heroes}}
                                                    <option value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </label>
                                        <button type="submit" class="button button-update assign-button">Assign Hero</button>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form action="/squads/delete/{{this.id}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <a href="/squads/edit/{{this.id}}" class="btn btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="add-button-container">
        <a href="/heroes/" class="button button-update">Add a Hero</a>
        <a href="/squads" class="button button-update">Add a Squad</a>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-icons">
                    <a href="https://twitter.com" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://github.com/dopiyo85">Github Repository for Diana</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="https://kit.fontawesome.com/b8db771044.js" crossorigin="anonymous"></script>
</body>
</html>
