<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squad Details</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        body {
        background-color: #f9f9f9;
        color: #333;
    }

    .navbar {
        color: #000;
    }

    .transparent-navbar {
        background-color: transparent !important;
        border: none;
    }

    .transparent-navbar .navbar-brand,
    .transparent-navbar .navbar-nav .nav-link {
        color: #000;
    }

    .transparent-navbar .navbar-brand:hover,
    .transparent-navbar .navbar-nav .nav-link:hover {
        color: #000;
    }
    .card-container {
        margin: 20px;
    }

    .grey-container {
        background-color: #eaeaea;
        padding: 40px;
        margin-top: 40px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .back-to-home {
            display: flex;
            justify-content: center;
        }
        .back-to-home a {
            display: inline-block;
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body class="scheme-3">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            &copy; Deedee
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 card-container text-center">
                <div class="card">
                    <div class="squad-card grey-container">
                            <h2>Add a Squad</h2>
                            <form class="add-squad-form" action="/squads/add/" method="POST">
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <table class="table">
                                            <tr>
                                                <td><label for="name">Name:</label></td>
                                                <td><input type="text" id="name" name="name" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td><label for="maxSize">Max Size:</label></td>
                                                <td><input type="number" id="maxSize" name="maxSize" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td><label for="cause">Cause:</label></td>
                                                <td><input type="text" id="cause" name="cause" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><button type="submit" class="btn btn-primary">Add Squad</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 card-container text-center">
                    <div class="card">
                        <div class="card-body sky-blue-container">
                            <h2>Edit Squad</h2>
                            <form class="edit-squad-form" action="/squads/edit/{{id}}" method="POST">
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <table class="table">
                                            <tr>
                                                <td><label for="name">Name:</label></td>
                                                <td><input type="text" id="name" name="name" value="{{squad.name}}" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td><label for="maxSize">Max Size:</label></td>
                                                <td><input type="number" id="maxSize" name="maxSize" value="{{squad.maxSize}}" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td><label for="cause">Cause:</label></td>
                                                <td><input type="text" id="cause" name="cause" value="{{squad.cause}}" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input type="hidden" name="id" value="{{id}}">
                                                    <button type="submit" class="btn btn-primary">Update Squad</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <div class="back-to-home text-center">
            <a href="/">Back to Home</a>
        </div>
    </div>
</div>
<br>
<footer class="footer">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-icons">
                            <a href="https://twitter.com" class="social-icon"><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com" class="social-icon"><i class="fab fa-facebook"></i></a>
                            <a href="https://instagram.com" class="social-icon"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <p>&copy; 2023 Deedee. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="https://kit.fontawesome.com/b8db771044.js" crossorigin="anonymous"></script>
</body>
</html>
